<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic flask</title>
  </head>
  <body>
    {% if logged_in%}
    <ul>
      {% for num in numbers_list %}
      <li>{{num}}</li>
      {%endfor%}
    </ul>
    <h1>Puppy names</h1>
    <ul>
      {%for pupname in puppy_list%}
      <li>{{pupname}}</li>
      {%endfor%}
    </ul>
    {%else%}
    <h1>You Need to login first to see the result</h1>
    {% endif %}
  </body>
</html>
